
.section {
    width: 100%;
    height: calc(100vh - 48px - 10vh);
    min-height: 624px;
    max-height: 900px;
    background-color: #ffffff;
}

.slider {
    position: relative;
    width: 100%;
    margin: 0 0 100px;
    background-color: #F6F3F2;
}
@media (max-width: 768px) {
    .slider {
        margin: 0;
    }
}
.slider_brown {
    background-color: #E4DCD3;
}
.slider__banner {
    position: relative;
    width: 50%;
    background-size: cover;
}
@media (max-width: 1024px) {
    .slider__banner {
        width: 100%;
        display: block;
        height: 400px;
    }
    .slider__banner img {
        -o-object-fit: cover;
        object-fit: cover;
        height: 100%;
    }
}
@media (max-width: 768px) {
    .slider__banner {
        display: none;
    }
}
.slider__container {
    position: relative;
    width: 50%;
}
@media (max-width: 1024px) {
    .slider__container {
        width: 100%;
        display: block;
        height: 125vw;
    }
}

@media (max-width: 1600px) {
    .price-button-header {
        right: 32px;
        top: 114px;
    }
}
@media (max-width: 1199.98px) {
    .price-button-header {
        position: relative;
        display: block;
        margin-bottom: 20px;
        right: 0;
        top: 0;
        left: 32px;
    }
}
@media (max-width: 768px) {
    .price-button-header {
        left: 16px;
    }
}

.slider {
    position: relative;
    width: 100%;
    margin: 0 0 100px;
    background-color: #F6F3F2;
}
@media (max-width: 768px) {
    .slider {
        margin: 0;
    }
}


.nav {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding-left: 32px;
    background-color: #F1F1F1;
    overflow: hidden;
    z-index: 100;
}
@media (max-width: 1199.98px) {
    .nav {
        padding: 0 40px;
    }
}
@media (max-width: 767px) {
    .nav {
        padding: 0;
        overflow: auto;
    }
}
.nav__menu {
    display: flex;
    align-items: center;
    position: relative;
    overflow: auto;
    scrollbar-width: none;
}
.nav__menu::-webkit-scrollbar {
    display: none;
}
@media (max-width: 768px) {
    .nav__item {
        margin: 0 12px;
    }
}
.nav__item:first-child {
    margin-left: 24px;
}
.nav__item:last-child {
    margin-right: 24px;
}
@media (min-width: 768.1px) {
    .nav__item:not(:last-of-type) {
        margin-right: 30px;
    }
}
.nav__link {
    display: block;
    font-size: 1.4rem;
    color: #666;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    white-space: nowrap;
    transition: 0.3s;
}
.nav__link:hover {
    color: #00AAD2;
}
.nav__link.active {
    color: #00AAD2;
    box-shadow: inset 0px -3px 0 0px #00AAD2;
}
.nav__buttons {
    display: flex;
    background: #002c5f;
}
.nav__button {
    padding: 12px 19px !important;
    font-weight: 300;
    background: #002c5f;
}
@media (max-width: 1199.98px) {
    .nav__button {
        display: none;
    }
}

.overflow-hidden .nav {
    z-index: 0;
}

.breadcrumbs {
    width: 69%;
    margin: 36px auto 30px;
}

.gallery {
    background-color: #F6F3F2;
    padding-top: 25px;
    padding-bottom: 83px;
}
.gallery h1 {
    width: 69%;
    font-size: 4.2rem;
    line-height: 1.14;
    font-weight: 500;
    margin: 0 auto 70px;
}
.gallery__wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}
.gallery__indicator {
    position: absolute;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    right: 32px;
    bottom: 32px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    width: 60px;
}
.gallery__title {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 26px;
    margin-bottom: 60px;
}
.gallery__title h1 {
    font-size: 24px;
    display: inline-block;
}
.gallery__title-indicator {
    position: relative;
    right: auto;
    bottom: auto;
    display: inline-block;
    margin-left: 140px;
    color: #000;
    line-height: 30px;
}
.gallery__item {
    background-repeat: no-repeat;
    object-fit: contain;
}
.gallery__nav {
    max-width: 100%;
    margin: 60px auto 0;
    padding-top: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.gallery__nav-item {
    position: relative;
    height: 128px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    outline: none;
    margin-right: 20px;
}
.gallery__nav-item:not(.slick-current)::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.32);
}
.gallery .slick-prev,
.gallery .slick-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-size: 22%;
    background-position: 50%;
    z-index: 10;
}
.gallery .slick-prev::before,
.gallery .slick-next::before {
    content: "";
}
.gallery .slick-prev {
    left: 0;
    background-image: url("../../images/icons/left_slider.png");
}
.gallery .slick-next {
    right: 0;
    background-image: url("../../images/icons/right_slider.png");
}
.gallery__download {
    display: inline-block;
    position: relative;
    font-size: 1.6rem;
    line-height: 1.25;
    font-weight: 500;
    color: #000;
    margin-top: 41px;
    padding-left: 20px;
}
.gallery__download svg {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
    .gallery__nav-item {
        margin-right: 0;
    }
}

@media (max-width: 1024px) {
    .slider {
        display: block;
    }
}
.slider__container {
    position: absolute;
    width: 50%;
    display: inline-block;
    right: 0;
    top: 0;
}
@media (max-width: 1024px) {
    .slider__container {
        position: relative;
        width: 100%;
        display: block;
        height: 95vw;
    }
}
@media (max-width: 768px) {
    .slider__container {
        height: 90vw;
    }
}
@media (max-width: 576px) {
    .slider__container {
        height: 100vw;
    }
}
@media (max-width: 375px) {
    .slider__container {
        height: 120vw;
    }
}
@media (max-width: 1199.98px) {
    .slider__title {
        font-size: 52px;
        line-height: 44px;
        margin-bottom: 21px;
    }
}
@media (max-width: 768px) {
    .slider__title {
        font-size: 32px;
        line-height: 28px;
        margin-bottom: 10px;
    }
}
@media (max-width: 1199.98px) {
    .slider__subtitle {
        font-size: 20px;
        line-height: 28px;
    }
}
@media (max-width: 768px) {
    .slider__subtitle {
        font-size: 14px;
        line-height: 22px;
    }
}
.slider__event {
    font-size: 22px;
    line-height: 26px;
}
@media (max-width: 768px) {
    .slider__event {
        font-size: 18px;
        line-height: 22px;
    }
}
@media (max-width: 1024px) {
    .slider__event span {
        transform: translateY(0);
    }
}
.slider__slider {
    position: relative;
    width: 33.3333333333vw;
    right: -9.0909090909vw;
    top: 80px;
}
@media (max-width: 1024px) {
    .slider__slider {
        width: 100%;
        right: 0;
        top: 0;
    }
}
.slider__list {
    position: relative;
    width: 100%;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .slider__list {
        height: 83vw;
    }
}
@media (max-width: 768px) {
    .slider__list {
        height: 75vw;
    }
}
@media (max-width: 576px) {
    .slider__list {
        height: 83vw;
    }
}
@media (max-width: 375px) {
    .slider__list {
        height: 100vw;
    }
}
.slider__list::before {
    content: "";
    display: block;
    padding-top: 100%;
}
@media (max-width: 1024px) {
    .slider__list::before {
        display: none;
    }
}
.slider__item {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;
}
.slider__item.active {
    display: block;
}
.slider__item.shown .slider__date span, .slider__item.shown .slider__text span {
    transform: translateY(0);
}
.slider__item.shown .slider__link .slider__overlay {
    transition: opacity 0.3s;
}
.slider__item.shown .slider__link img {
    transition: transform 0.3s;
}
.slider__link {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .slider__link {
        position: relative;
        height: 95vw;
    }
}
@media (max-width: 768px) {
    .slider__link {
        height: auto;
    }
}
@media (max-width: 480px) {
    .slider__link {
        height: 118vw;
    }
}
@media (max-width: 375px) {
    .slider__link {
        height: auto;
    }
}
@media (max-width: 768px) {
    .slider__link::before {
        content: "";
        display: block;
        padding-top: 125%;
    }
}
.slider__link img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.slider__wrapper {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    overflow: hidden;
}
@media (max-width: 1024px) {
    .slider__wrapper {
        top: 12%;
        left: 20%;
        width: 60%;
        height: 60%;
    }
}
@media (max-width: 768px) {
    .slider__wrapper {
        height: 40%;
    }
}
.slider__overlay {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    background-color: #000;
}
@media (max-width: 1024px) {
    .slider__overlay {
        display: none;
    }
}
.slider__composition {
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 10px;
}
@media (max-width: 1600px) {
    .slider__composition {
        bottom: 0;
    }
}
@media (max-width: 1024px) {
    .slider__composition {
        left: 32px;
        right: 32px;
        bottom: 124px;
    }
}
@media (max-width: 768px) {
    .slider__composition {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.slider__date {
    font-size: 18px;
    line-height: 18px;
    color: #E4DCD3;
}
@media (max-width: 1199.98px) {
    .slider__date {
        font-size: 14px;
        line-height: 1;
    }
}
@media (max-width: 1024px) {
    .slider__date {
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .slider__date {
        font-size: 12px;
    }
}
.slider__text {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
@media (max-width: 1600px) {
    .slider__text {
        font-size: 18px;
        line-height: 24px;
    }
}
@media (max-width: 768px) {
    .slider__text {
        font-size: 24px;
        margin-top: 10px;
    }
}
@media (max-width: 576px) {
    .slider__text {
        font-size: 18px;
        margin-top: 20px;
    }
}
.slider__date, .slider__text {
    font-weight: normal;
    overflow: hidden;
}
.slider__date span, .slider__text span {
    display: inline-block;
    transform: translateY(110%);
    transition: transform 1s;
}
.slider__nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 50%;
    left: -84px;
    right: -84px;
    height: 0;
    z-index: 50;
}
@media (max-width: 1199.98px) {
    .slider__nav {
        left: -20px;
        right: -20px;
    }
}
@media (max-width: 1024px) {
    .slider__nav {
        left: 40px;
        right: 40px;
    }
}
@media (max-width: 768px) {
    .slider__nav {
        left: 16px;
        right: 16px;
    }
}

@media (max-width: 767px) {
    .gallery {
        padding-top: 15px;
    }

    .breadcrumbs {
        width: 100%;
        margin-top: 27px;
    }
}

@media (max-width: 1262px) {
    .gallery h1 {
        width: 75%;
        font-size: 3rem;
    }
    .breadcrumbs {
        width: 75%;
    }
}

@media (min-width: 1262px) {
    .main-photo {
        margin: 0 auto;
        width: 70%;
        position: relative;
    }
}
.slider__prev, .slider__next {
    position: relative;
    width: 48px;
    height: 48px;
    padding: 0;
    background-color: transparent !important;
}
@media (max-width: 768px) {
    .slider__prev, .slider__next {
        width: 32px;
        height: 32px;
    }
}
.slider__prev span, .slider__next span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1.5px solid #B7B7B7;
    border-radius: 50%;
    transition: transform 0.3s;
}
.slider__prev svg, .slider__next svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.slider__prev:hover span, .slider__next:hover span {
    transform: scale(1.2);
}

.slider .main-indicators {
    margin-top: 19px;
    justify-content: center;
}
.slider .main-indicators__item {
    background-color: #B7B7B7;
}
.slider .main-indicators__item:hover {
    background-color: #666666 !important;
}
@media (max-width: 1600px) {
    .slider__left {
        padding: 64px 48px;
    }
}
@media (max-width: 1024px) {
    .slider__left {
        width: 100%;
        height: 400px;
        padding: 50px 40px;
    }
}
@media (max-width: 768px) {
    .slider__left {
        padding: 24px 16px;
    }
}
@media (max-width: 1024px) {
    .slider__right {
        width: 100%;
        padding: 128px 0 136px 40px;
    }
}
@media (max-width: 768px) {
    .slider__right {
        padding: 80px 0 104px 16px;
    }
}

.main-indicators {
    display: flex;
    align-items: center;
    z-index: 15;
}
.main-indicators__item {
    position: relative;
    width: 44px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 2px;
    cursor: pointer;
    border: 8px solid transparent;
    background-clip: content-box;
    box-sizing: content-box;
    transition: 0.3s;
}
.main-indicators__item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #10B5DC;
    border-radius: 2px;
    transform: scaleX(0);
    transform-origin: 0 50%;
}
.main-indicators__item img {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 104px;
    height: auto;
    transform: translate(-50%, -100%);
    opacity: 0;
    transition: 0.3s;
}
.main-indicators__item.active::before {
    transform: scaleX(1);
    transition: transform 10s;
}

@media only screen and (max-width: 1262px) {
    .section {
        min-height: 0;
        height: auto;
        max-height: 100%;
    }
}  
    .gallery {
        padding-bottom: 59px;
    }
    .gallery__download {
        margin-top: 33px;
    }
@media only screen and (max-width: 767px) {

    .gallery {
        padding-bottom: 42px;
    }
    .gallery h1 {
        width: 100%;
        font-size: 2rem;
        margin: 0 auto 46px;
    }
    .breadcrumbs {
        margin-bottom: 20px;
        width: 100%;
    }
    .gallery__wrapper, .gallery__nav {
        min-width: 100%;
    }
    .gallery__download {
        margin-top: 26px;
        margin-left: 16px;
    }
    .gallery__item {
        height: 65vw;
    }
    .gallery__nav-item {
        height: 56px;
    }
}
